{% extends 'base.html' %}

{% block content %}
  <h2>Sign Up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.username.label_tag }} {{ form.username }}
    {{ form.password1.label_tag }} {{ form.password1 }}
    {{ form.password2.label_tag }} {{ form.password2 }}
    <br>
    {{ form.roles.label_tag }}
    {% for group in form.roles.field.queryset %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="roles" id="{{ group.pk }}" value="{{ group.pk }}">
        <label class="form-check-label" for="{{ group.pk }}">
            {{ group.name }}
        </label>
    </div>
    {% endfor %}
    <button type="submit">Sign Up</button>
  </form>
  <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
{% endblock %}
